.cs278-map-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 2.9rem);
    height: 100%;
}
.cs278-map-halls {
    flex: 24;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 2.9rem);
    margin-top: 8%;
}
.cs278-map-button {
    flex: 1;
    background-color: rgb(172, 172, 172);
}
.cs278-map-leftDiv {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 6%;
}
.cs278-map-rightDiv {
    flex: 5;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cs278-map-ricker {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: rgb(172, 172, 172);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cs278-map-lakeside {
    flex: 8;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    width: 100%;
    margin-top: 16%;
    margin-bottom: 16%;
    justify-content: center;
    align-items: center;
}
.cs278-map-flomo {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cs278-map-evgr {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: rgb(172, 172, 172);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cs278-map-brannerCasper {
    flex: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 12%;
    margin-bottom: 12%;
}
.cs278-map-arrillaga {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    width: 100%;
    margin-bottom: 12%;
    justify-content: center;
    align-items: center;
}
.cs278-map-sternWilbur {
    flex: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cs278-map-brannerStern {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    height: 100%;
    margin-right: 6%;
    justify-content: center;
    align-items: center;
}
.cs278-map-casperWilbur {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    height: 100%;
    margin-left: 6%;
    justify-content: center;
    align-items: center;
}
.cs278-map-reCircles {
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    color: white;
}

.cs278-map-reCircles.blue {
    background-color: rgb(35, 91, 223);
}

.cs278-map-reCircles.green {
    background-color: rgb(80, 131, 71);
}

.cs278-map-otherCircles {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    color: white;
}

.cs278-map-otherCircles.blue {
    background-color: rgb(35, 91, 223);
}

.cs278-map-otherCircles.green {
    background-color: rgb(80, 131, 71);
}

.cs278-map-list {
    width: calc(94vw - 2.9rem); /* idk??? */
    height: 100%;
}
.cs278-map-dialogTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(82vw - 2.9rem); /* idk??? */
    height: 2vh; /* idk??? */
    margin-bottom: 0;
}
.cs278-map-questionTyp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cs278-map-hallText {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cs278-map-userInfo {
    display: flex;
    flex-direction: column;
    width: 60%;
}