.user-photos-wrapper {
    text-align: center;
}

.user-photos-wrapper img {
    width: 75%;
    margin: auto;
}

.user-photo-tag {
    text-align: center;
}

.cs142-main-grid-item {
    display: block;
    overflow: scroll;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.user-photo-footer button {
    margin-left: 10px;
}
